/*parte medio*/

#banner{
position:relative;
height:140px;
width:950px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
background:  url(cotizacion-background.jpg);
}



/*parte bajo*/
#formulario{
position:relative;
height:430px;
width:950px;
margin-top:20px;
margin-left:auto;
margin-right:auto;
background-color:white;
}


#form1{
height:400px;
width:500px;
margin-left:40px;
float:left;
}

h2{
text-decoration:underline;
}

#form2{
height:300px;
width:300px;
float:left;
position:relative;
}

#table_products tr td{
text-align:center;
}

.button{
position:relative;
left:40px;
margin:20px;
}



#form1 li{
list-style:none;
margin:11px;
}

li input {
position:absolute;
left:150px;

}

textarea{
position:absolute;
left:150px;
}








