
#main1{
position:absolute;
background-color:white;
height:520px;
width:700px;
top:175px;
margin-left:270px;
}

#izquierda{
position:relative;
background-color:white;
height:520px;
width:250px;
margin-top:20px;
margin-left:20px;
}

#link1{
position:absolute;
background-color:blue;
height:80px;
width:180px;
top:50px;
margin-left:500px;
}

#link1:hover{
height:100px;
width:200px;
margin-left:490px;
top:40px;
}
#pintura{
position:absolute;
height:110px;
width:110px;
margin-top:20px;
margin-left:50px;
}

#pintura: a{ 
padding:2px;
display:block;
background-color: silver;
border:1px solid red;
}

#soldadura{
position:absolute;
height:110px;
width:110px;
margin-top:140px;
margin-left:50px;
}

#granillado{
position:absolute;
height:110px;
width:110px;
margin-top:260px;
margin-left:50px;
}

#dobladura{
position:absolute;
height:110px;
width:110px;
margin-top:380px;
margin-left:50px;
}

#link2{
position:absolute;
background-color:blue;
height:80px;
width:180px;
top:90px;
margin-left:600px;
}

#link2:hover{
height:100px;
width:200px;
top:80px;
margin-left:590px;
}

#link3{
position:absolute;
background-color:blue;
height:80px;
width:180px;
top:140px;
margin-left:700px;
}

#link3:hover{
height:100px;
width:200px;
top:130px;
margin-left:690px;
}

/*parte bajo*/
#foot{
position:relative;
height:170px;
width:950px;
margin-top:20px;
margin-left:auto;
margin-right:auto;
background-color:white;
}

#company{
height:140px;
width:200px;
position:basolute;
float:left;
margin-left:55px;
}

.title2{
font-size:14px;
font-family: Comic Sans;
margin-left:20px;
text-decoration:underline;
margin-top:2px;
}

.title3{
font-size:14px;
font-family: Comic Sans;
margin-left:35px;
text-decoration:underline;
margin-top:30px;
}
#presentation{
position:absolute;
height:125px;
width:630px;
margin-left:270px;
}

.p1{
font-family:Comic Sans;
font-size:14px;
}
.ul{
left:10px; 
}


.p2{
margin-top:30px;
margin-right:50px;
font-family:Comic Sans;
font-size:16px;
margin-left:40px;
}

#dobladura1{
position:relative;
height:110px;
width:110px;
}
#pintura1{
position:relative;
height:110px;
width:110px;
}
#granallado1{
position:relative;
height:110px;
width:110px;
}
#soldadura1{
position:relative;
height:110px;
width:110px;
}