#main-img{
position:relative;
background-color:red;
height:590px;
width:950px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}
#tituloF{
text-decoration:underline;
}


#case1{

position:absolute;
top:64px;
left:25px;
width:900px;
height:120px;
border: 3px solid black;
background-color:blue;
}
div#sub1{
height: 120px;
width: 120px;
float: left;
text-align:center;

background-color:gray;
font-weight:bold;
line-height:120px;
}

#imagen11{
position:relative;
left:15px;
width:18%;
height:105px;
top:10px;
}
#imagen12{
position:relative;
left:45px;
width:18%;
height:105px;
top:10px;
}
#imagen13{
position:relative;
left:75px;
width:18%;
height:105px;
top:10px;
}

#imagen14{
position:relative;
left:105px;
width:18%;
height:105px;
top:10px;
}


#case2{
position:absolute;
top:195px;
left:25px;
width:900px;
height:120px;
border: 3px solid black;
background-color:blue;
}
div#sub2{
height: 120px;
width: 120px;
float: left;
text-align:center;

background-color:gray;
font-weight:bold;
line-height:120px;
}
#imagen21{
position:relative;
left:15px;
width:18%;
height:105px;
top:10px;
}
#imagen22{
position:relative;
left:45px;
width:18%;
height:105px;
top:10px;
}
#imagen23{
position:relative;
left:75px;
width:18%;
height:105px;
top:10px;
}

#imagen24{
position:relative;
left:105px;
width:18%;
height:105px;
top:10px;
}

#case3{
position:absolute;
background-color:blue;
height:120px;
width:900px;
top:326px;
margin-left:25px;
border:3px solid black;
}

div#sub3{
height: 120px;
width: 120px;
float: left;
text-align:center;

background-color:gray;
font-weight:bold;
line-height:120px;
}
#imagen31{
position:relative;
left:15px;
width:18%;
height:105px;
top:10px;
}
#imagen32{
position:relative;
left:45px;
width:18%;
height:105px;
top:10px;
}
#imagen33{
position:relative;
left:75px;
width:18%;
height:105px;
top:10px;
}

#imagen34{
position:relative;
left:105px;
width:18%;
height:105px;
top:10px;
}
#case4{
position:absolute;
background-color:blue;
height:120px;
width:900px;
top:457px;
margin-left:25px;
border:3px solid black;
}
div#sub4{
height: 120px;
width: 120px;
float: left;
text-align:center;

background-color:gray;
font-weight:bold;
line-height:120px;
}
#imagen41{
position:relative;
left:15px;
width:18%;
height:105px;
top:10px;
}
#imagen42{
position:relative;
left:45px;
width:18%;
height:105px;
top:10px;
}
#imagen43{
position:relative;
left:75px;
width:18%;
height:105px;
top:10px;
}

#imagen44{
position:relative;
left:105px;
width:18%;
height:105px;
top:10px;
}
